{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics">Forums</a>
    <a href="/gallery">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button active">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <span>Your Account</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="/js/modules/account.js"></script>
{{/section}}



{{!--
    Main content
--}}

<header class="section-header">
    <h1>Your Account</h1>
    <p>Configure your personal preferences.</p>
</header>

<section class="section-content">

    <form>
        <ul class="settings-group">

            <li>
                <label class="settings-label">Character</label>
                <p class="settings-description">Choose the character that you would like to be identified as.</p>
                <div class="input-group">

                    {{!--<div class="select select-small" style="z-index:100">
                        <input id="character" type="checkbox" class="select-controller">
                        <label class="select-current" for="character">
                            <span class="button-segment">
                                <span class="inliner arrow-bottom arrow-light"><i></i></span>
                            </span>
                        </label>

                        <div class="select-dropdown">
                            {{#each user.characters}}
                            <label class="select-group" for="character">
                                <input id="character_{{@index}}" type="radio" class="select-option" value="{{name}}" name="character">
                                <label for="character_{{@index}}" class="select-option">{{name}}&ndash;{{realm}}</label>
                                <label for="character" class="select-top">{{name}}&ndash;{{realm}}</label>
                            </label>
                            {{/each}}
                        </div>
                    </div>--}}

                    <select name="character" class="text">
                        {{#each user.characters}}
                        <option value="{{name}},{{realm}}">{{name}}&ndash;{{realm}}</option>
                        {{/each}}
                    </select>
                </div>
            </li>

            <li>
                <label class="settings-label">Role</label>
                <p class="settings-description">Choose the role that you would like displayed in the guild roster.</p>
                <div class="input-group">
                    <div class="select select-small" style="z-index:100">
                        <input id="role" type="checkbox" class="select-controller">
                        <label class="select-current" for="role">
                            <span class="button-segment">
                                <span class="inliner arrow-bottom arrow-light"><i></i></span>
                            </span>
                        </label>

                        <div class="select-dropdown">
                            <label class="select-group" for="role">
                                <input id="role_1" type="radio" class="select-option" value="damage" name="role" checked="">
                                <label for="role_1" class="select-option">Damage</label>
                                <label for="role" class="select-top">Damage</label>
                            </label>

                            <label class="select-group" for="role">
                                <input id="role_2" type="radio" class="select-option" value="healer" name="role">
                                <label for="role_2" class="select-option">Healer</label>
                                <label for="role" class="select-top">Healer</label>
                            </label>

                            <label class="select-group" for="role">
                                <input id="role_3" type="radio" class="select-option" value="tank" name="role">
                                <label for="role_3" class="select-option">Tank</label>
                                <label for="role" class="select-top">Tank</label>
                            </label>
                        </div>
                    </div>

                </div>
            </li>

            <li>
                <label class="settings-label">Item Level</label>
                <p class="settings-description">Enable this to show off your item level on the forums.</p>
                <div class="input-group input-group-thin">
                    <input id="check2" type="checkbox" class="checkbox">
                    <label for="check2" class="checkbox">Show Item Level</label>
                </div>
            </li>

        </ul>
    </form>

</section>