
{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics">Forums</a>
    <a href="/gallery" class="active">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <span>Gallery</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="public/js/modules/gallery.js"></script>
{{/section}}



{{!--
    Main content
--}}

<div class="x-modal modal">
    <div class="overlay">
        <span class="loading">Loading...</span>
        <div class="close">&times;</div>
        <div class="content"></div>
    </div>
</div>

<header class="section-header">
    <h1>Gallery</h1>
    <p>A screenshot is worth a thousand words.</p>
</header>

<section class="section-content clear">

    <div class="gallery">


        {{#if images.length}}

        {{#if user}}
        {{#canModerateGlobal user}}
        {{#foreach images}}
        {{#if $first}}
        <div data-src="/public/gallery/{{_id}}.png" class="gallery-item feature x-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/{{_id}}.png')">
        {{else}}
        <div data-src="/public/gallery/{{_id}}.png" class="gallery-item x-item">
            <div class="gallery-content" style="background-image:url('/public/gallery/{{_id}}_thumb.png')">
        {{/if}}
                <div class="gallery-overlay">
                    <header>
                        <h2>{{title}}</h2>
                        <p>{{description}}</p>
                        <p class="timestamp">{{formatDate created 'MMM Do'}}</p>
                        <p style="margin-top:7px"><a class="x-edit-image" href="#">Edit</a></p>
                    </header>
                </div>
                <div class="gallery-edit">
                    <header>
                        <form action="/gallery/update" method="post">
                            <input type="hidden" name="id" value="{{_id}}">
                            <p><input type="text" class="text text-small" data-original="{{title}}" name="title" value="{{title}}"></p>
                            <p><input type="text" class="text text-small" data-original="{{description}}"  name="description" value="{{description}}"></p>
                            <p>
                                <button type="submit" class="button button-small button-primary">Save</button>
                                <button class="x-cancel-edit button button-small">Cancel</button>
                            </p>
                        </form>
                        <form action="/gallery/delete" method="post" class="x-delete-form">
                            <input type="hidden" name="id" value="{{_id}}">
                            <p style="margin-top:4px"><a href="#" class="x-delete-image">Delete</a></p>
                        </form>
                    </header>
                </div>
            </div>
        </div>
        {{/foreach}}
        {{/canModerateGlobal}}

        {{else}}
            {{#foreach images}}
            {{#if $first}}
            <div data-src="/public/gallery/{{_id}}.png" class="gallery-item feature x-item">
                <div class="gallery-content" style="background-image:url('/public/gallery/{{_id}}.png')">
            {{else}}
            <div data-src="/public/gallery/{{_id}}.png" class="gallery-item x-item">
                <div class="gallery-content" style="background-image:url('/public/gallery/{{_id}}_thumb.png')">
            {{/if}}
                    <div class="gallery-overlay">
                        <header>
                            <h2>{{title}}</h2>
                            <p>{{description}}</p>
                            <p class="timestamp">{{formatDate created 'MMM Do'}}</p>
                        </header>
                    </div>
                </div>
            </div>
            {{/foreach}}
        {{/if}}

        {{else}}
        <p><em>No images :(</em></p>
        {{/if}}



    </div>

    {{#if user}}
    {{#canModerateGlobal user}}
    <div class="post-editor" style="clear: both">
        <br>
        <br>
        <br>

        <h2>Upload Image</h2>

        <form action="/gallery/upload" method="post">
            <div class="gallery-upload x-gallery-upload">
                <div class="upload-group">
                    <input type="hidden" name="imageData">
                    <input type="hidden" name="imageThumb">
                    <div class="input-group"><input class="text" type="text" placeholder="Title" name="title" style="width:38%"></div>
                    <div class="input-group"><input class="text" type="text" placeholder="Description" name="description" style="width:38%"></div>
                    <div class="input-group">
                        <button class="button button-primary x-submit" type="submit">Upload</button>
                        &nbsp;<button class="button x-reset" type="reset">Reset</button>
                    </div>
                </div>
                <div class="upload-here">
                    <p class="x-instructions">Drag image here</p>
                </div>
            </div>
        </form>
    </div>
    {{/canModerateGlobal}}
    {{/if}}

</section>