{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics">Forums</a>
    <a href="/gallery">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <span>Home</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="public/js/modules/home.js"></script>
{{/section}}



{{!--
    Main content
--}}

<div class="x-modal modal">
    <div class="overlay">
        <span class="loading">Loading...</span>
        <div class="close">&times;</div>
        <div class="content"></div>
    </div>
</div>

<header class="masthead">
    <!--<div class="logo"><img src="/public/img/logo.svg"></div>-->
    <h1>{{guild.name}}</h1>
    <h2>Darkspear &middot; Alliance</h2>
    {{!--<blockquote><i>&ldquo;</i>{{tagline}}<i>&rdquo;</i></blockquote>--}}
</header>

<section class="section-content clear">
    <div class="home-feed">



        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2>Latest Guild News</h2>
                    <ul class="news-feed thread-list">
                        <li>
                            <header>
                                <h4><strong>{{announcement.title}}</strong></h4>
                            <span class="timestamp">
                                <a href="/post/{{announcement._id}}">
                                    By {{username announcement.author}} &middot;
                                    {{formatDate announcement.created 'MMM Do, hh:mm'}}
                                </a>
                            </span>
                            </header>
                            <section>
                                <p>
                                    {{{markdown announcement.content}}}
                                </p>
                            </section>
                            <footer>
                                <a href="/thread/{{announcement.threadId}}">View Thread</a>
                            </footer>
                        </li>
                    </ul>

                    <h2>Featured Screenshot</h2>
                    <ul class="news-feed thread-list">
                        {{#each images}}
                        <li>
                            <div data-src="/public/gallery/{{_id}}.jpg" class="gallery-item x-item">
                                <div class="gallery-content" style="background-image:url('/public/gallery/{{_id}}_thumb.jpg')">
                                    <div class="gallery-overlay">
                                        <header>
                                            <h2>{{title}}</h2>
                                            <p>{{description}}</p>
                                            <p class="timestamp">{{formatDate created 'MMM Do'}}</p>
                                        </header>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </li>
                    </ul>
<!--
                    <h2>Upcoming Events</h2>
                    <ul class="guild-feed">
                        <li>
                            <strong>Some Event Title</strong>
                            <br><small>Nov 19, 23:52</small>
                        </li>
                        <li>
                            <strong>Some Event Title</strong>
                            <br><small>Nov 19, 23:52</small>
                        </li>
                        <li>
                            <strong>Some Event Title</strong>
                            <br><small>Nov 19, 23:52</small>
                        </li>
                    </ul>-->

                </div>
                <div class="col">

                    <h2>Recent Activity</h2>
                    <ul class="guild-feed">
                        {{#each news}}

                            {{#equals type 'post'}}
                                <li>
                                    <strong>{{character}}</strong><em> posted in </em><strong>{{thread.title}}</strong>
                                    <br><small><a href="/thread/{{thread._id}}">View Thread</a> &middot; {{formatDate timestamp 'MMM Do, hh:mm'}}</small>
                                </li>
                            {{/equals}}
                            {{#equals type 'itemLoot'}}
                                <li>
                                    <strong>{{character}}</strong><em> looted </em><a href="http://www.wowhead.com/item={{itemId}}" target="_blank"></a>
                                    <br><small>{{formatDate timestamp 'MMM Do, hh:mm'}}</small>
                                </li>
                            {{/equals}}
                            {{#equals type 'itemPurchase'}}
                                <li>
                                    <strong>{{character}}</strong><em> purchased </em><a href="http://www.wowhead.com/item={{itemId}}" target="_blank"></a>
                                    <br><small>{{formatDate timestamp 'MMM Do, hh:mm'}}</small>
                                </li>
                            {{/equals}}
                            {{#equals type 'playerAchievement'}}
                                <li>
                                    <strong>{{character}}</strong><em> earned </em><a href="http://www.wowhead.com/achievement={{achievement.id}}" target="_blank"></a>
                                    <br><small>{{formatDate timestamp 'MMM Do, hh:mm'}}</small>
                                </li>
                            {{/equals}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>