{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics" class="active">Forums</a>
    <a href="/gallery">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <a href="/thread/{{thread._id}}">{{thread.title}}</a> <i>&rsaquo;</i>
    <span>Post by {{username thread.author}}</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
    <!--<a class="active">1</a>
    <a>2</a>
    <a>3</a>
    <a>4</a>
    <a>Last</a>-->
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="/js/modules/forums.js"></script>
{{/section}}



{{!--
    Main content
--}}

<header class="section-header">
    <h1>Post by {{username post.author}}</h1>
    <p class="subject">
        <span>In thread </span><strong>{{thread.title}}</strong><span>.</span>
    </p>
</header>

<section class="section-content clear">

    <ul class="thread-list">

        <li>
            <header>
                <h4>
                    <div class="avatar-container">
                        <div class="avatar">
                            <img src="//us.battle.net/static-render/us/{{post.author.characters.[0].thumbnail}}">
                        </div>
                        <hgroup>
                            <strong>{{username post.author}}</strong><br>
                            <small>
                                <em class="{{classSelector post.author.characters.[0].class}}">
                                    <a href="http://us.battle.net/wow/en/character/{{post.author.mainCharacter.realm}}/{{post.author.mainCharacter.name}}/advanced" target="_blank">
                                        {{className post.author.characters.[0].class}}
                                    </a>
                                </em>
                            </small>
                        </hgroup>
                    </div>
                </h4>
            <span class="timestamp">
                <a href="/post/{{post._id}}">
                    {{formatDate post.created 'MMM Do, hh:mm'}}
                </a>
            </span>
            </header>
            <section>
                <p>
                    {{{markdown post.content}}}
                </p>
            </section>
        </li>

    </ul>

</section>