{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics" class="active">Forums</a>
    <a href="/gallery">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <a href="/topics">Topics</a> <i>&rsaquo;</i>
    <a href="/threads/{{topic}}">{{topicTitle}}</a> <i>&rsaquo;</i>
    <span>{{thread.title}}</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
    <!--<a class="active">1</a>
    <a>2</a>
    <a>3</a>
    <a>4</a>
    <a>Last</a>-->
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="/public/js/modules/forums.js"></script>
{{/section}}



{{!--
    Main content
--}}

<header class="section-header">
    <h1>{{thread.title}}</h1>
    <p class="subject">
        <span>Created by </span>
        <strong>{{username thread.author}}</strong>
        <span> on </span>
        <strong>{{formatDate thread.created 'MMMM Do, YYYY'}}</strong>
        <span> in </span>
        <strong>{{topicTitle}}</strong><span>.</span
    </p>

    {{#stickyOrLocked thread}}
    <p style="margin-top: 5px">
        {{#if thread.sticky}}
        <strong class="tag">Sticky</strong>&nbsp;
        {{/if}}
        {{#if thread.locked}}
        <strong class="tag">Locked</strong>&nbsp;
        {{/if}}
    </p>
    {{/stickyOrLocked}}

    {{#canModerate user thread.author}}
    <p class="edit-thread">
        <a href="#" class="x-edit-thread">Edit Thread</a>
        &nbsp;
        <a href="#" class="x-delete-thread" data-for="{{thread._id}}">Delete Thread</a>
    </p>
    {{/canModerate}}
</header>

<section class="section-content clear">

    <ul class="thread-list">

        <!--<li>
            <header>
                <h4>
                    <strong>Lumberjack Lupanar</strong><br>
                    <small>
                        <em class="deathknight">Death Knight</em>
                        <span>&middot; Raider</span>
                        <span>&middot; 636</span>
                    </small>
                </h4>
                <span class="timestamp"><a href="">Nov 19, 20:53 <span>#1</span></a></span>
            </header>
            <section>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam dictum nec mi id pulvinar. Nunc vel dictum nisl.
                    Aliquam erat volutpat. Nam accumsan leo ut urna sollicitudin pellentesque.
                    Aliquam semper metus quis urna aliquam, nec volutpat nibh posuere.
                </p>
                <p>
                    <em class="deleted">Deleted.</em>
                </p>
                <p class="edited">
                    Edited by Lupanar on Nov 19.
                </p>
            </section>
            <footer>
                <a href="">Reply</a>
                <a href="">Quote</a>
                <a href="">Edit</a>
                <a href="">Remove</a>
            </footer>
        </li>-->

        {{#each posts}}
        <li data-id="{{_id}}" data-markdown="{{content}}">
            <header>
                <h4>
                    <div class="avatar-container">
                        <div class="avatar">
                            <img src="//us.battle.net/static-render/us/{{author.mainCharacter.thumb}}">
                        </div>
                        <hgroup>
                            <strong>{{username author}}</strong><br>
                            <small>
                                <em class="{{classSelector author.mainCharacter.classNum}}">
                                    <a href="http://us.battle.net/wow/en/character/{{author.mainCharacter.realm}}/{{author.mainCharacter.name}}/advanced" target="_blank">
                                        {{className author.mainCharacter.classNum}}
                                    </a>
                                </em>
                            </small>
                        </hgroup>
                    </div>
                </h4>
                <span class="timestamp">
                    <a href="/post/{{_id}}" name="{{_id}}">
                        {{formatDate created 'MMM Do, hh:mm, YY'}}
                        <span>#{{plusOne @index}}</span>
                    </a>
                </span>
            </header>
            <section>
                {{#unless deleted}}
                {{{markdown content}}}
                {{#if edited.user}}
                <p class="edited">
                    Edited by {{username edited.user}} on {{formatDate edited.date 'MMM Do'}}.
                </p>
                {{/if}}
                {{else}}
                <p>
                    <em class="deleted">Deleted.</em>
                </p>
                {{/unless}}
            </section>
            {{#if ../user}}
            <footer>
                {{#unless deleted}}
                <a href="#" class="x-reply">Reply</a>
                {{#canModerate ../../user author}}
                <a href="#" class="x-edit" data-for="{{_id}}">Edit</a>
                <a href="#" class="x-remove" data-for="{{_id}}">Remove</a>
                {{/canModerate}}
                {{/unless}}
            </footer>
            {{/if}}
        </li>
        {{/each}}

    </ul>

    {{#if user}}
    <div class="x-post-editor"></div>

    {{#canReply thread user}}
    <div class="post-editor x-create-post">
        <br>
        <br>
        <form action="/thread/reply/{{thread._id}}" method="post">
            <a name="reply"></a>
            <h2>Reply</h2>

            <div class="avatar-container">
                <div class="avatar" style="margin-top:15px">
                    <img src="//us.battle.net/static-render/us/{{user.mainCharacter.thumb}}">
                </div>
                <hgroup>
                    <h3>Posting as {{username user}}</h3>
                    <p style="padding-bottom:0" class="legend"><var>MD</var> <a href="//github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Format your posts using Markdown</a>.</p>
                    <p class="legend">
                        <span class="button button-quick x-insert" data-str="# $1 #">H1</span>
                        <span class="button button-quick x-insert" data-str="## $1 ##">H2</span>
                        <span class="button button-quick x-insert" data-str="### $1 ###">H2</span>
                        <span class="button button-quick x-insert" data-str="1. $1">1.</span>
                        <span class="button button-quick x-insert" data-str="* $1">o.</span>
                        <span class="button button-quick x-insert" data-str="**$1**">Bold</span>
                        <span class="button button-quick x-insert" data-str="_$1_">Italic</span>
                        <span class="button button-quick x-insert" data-str="[$1]($1)">Link</span>
                        <span class="button button-quick x-insert" data-str="[$1][image]">Image</span>
                        <span class="button button-quick x-insert" data-str="[$1][video]">YouTube</span>
                    </p>
                </hgroup>
            </div>

            <textarea class="text" name="content"></textarea>

            <button type="submit" class="button button-primary button-large">Submit Post</button>
        </form>
    </div>
    {{/canReply}}
    <div class="post-editor x-update-post" style="display:none">
        <br>
        <br>
        <form action="/post/update" method="post">
            <a name="reply"></a>
            <h2>Edit Post</h2>

            <input type="hidden" name="id" value="" class="x-post-id">

            <div class="avatar-container">
                <div class="avatar" style="margin-top:15px">
                    <img src="//us.battle.net/static-render/us/{{user.mainCharacter.thumb}}">
                </div>
                <hgroup>
                    <h3>Editing as {{username user}}</h3>
                    <p style="padding-bottom:0" class="legend"><var>MD</var> <a href="//github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Format your posts using Markdown</a>.</p>
                    <p class="legend">
                        <span class="button button-quick x-insert" data-str="# $1 #">H1</span>
                        <span class="button button-quick x-insert" data-str="## $1 ##">H2</span>
                        <span class="button button-quick x-insert" data-str="### $1 ###">H2</span>
                        <span class="button button-quick x-insert" data-str="1. $1">1.</span>
                        <span class="button button-quick x-insert" data-str="* $1">o.</span>
                        <span class="button button-quick x-insert" data-str="**$1**">Bold</span>
                        <span class="button button-quick x-insert" data-str="_$1_">Italic</span>
                        <span class="button button-quick x-insert" data-str="[$1]($1)">Link</span>
                        <span class="button button-quick x-insert" data-str="[$1][image]">Image</span>
                        <span class="button button-quick x-insert" data-str="[$1][video]">YouTube</span>
                    </p>
                </hgroup>
            </div>

            <textarea class="text x-edit-content" name="content"></textarea>

            <button type="submit" class="button button-primary button-large">Update Post</button>
            &nbsp;
            &nbsp;
            <button class="button button-large x-cancel">Cancel</button>
        </form>
    </div>
    <div class="post-editor x-update-thread" style="display:none">
        <br>
        <br>
        <form action="/thread/update" method="post">
            <h2>Edit Thread</h2>

            <input type="hidden" name="id" value="{{thread._id}}">

            <div class="avatar-container">
                <div class="avatar">
                    <img src="//us.battle.net/static-render/us/{{user.mainCharacter.thumb}}">
                </div>
                <hgroup>
                    <h3>Editing as {{username user}}</h3>
                    <p class="legend">&nbsp;</p>
                </hgroup>
            </div>

            <input id="title" type="text" class="text text-large" name="title" value="{{thread.title}}">
            {{#if user}}
            {{#canModerateGlobal user}}
            <div>
                <div class="input-group input-group-thin" style="float: left">
                    <input id="threadSticky" value="1" name="sticky" type="checkbox" class="checkbox" {{#if thread.sticky}}checked{{/if}}>
                    <label for="threadSticky" class="checkbox">Sticky</label>
                </div>
                <div class="input-group input-group-thin" style="float: left; margin-left: 34px">
                    <input id="threadLocked" value="1" name="locked" type="checkbox" class="checkbox" {{#if thread.locked}}checked{{/if}}>
                    <label for="threadLocked" class="checkbox">Locked</label>
                </div>
            </div>
            <br><br>
            {{/canModerateGlobal}}
            {{/if}}

            <button type="submit" class="button button-primary button-large">Update Thread</button>
            &nbsp;
            &nbsp;
            <button class="button button-large x-cancel">Cancel</button>
        </form>
    </div>
    {{/if}}

</section>