{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics" class="active">Forums</a>
    <a href="/gallery">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <a href="/topics">Topics</a> <i>&rsaquo;</i>
    <span>Announcements</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
    <!-- <a class="active">Replies</a>
    <a>Views</a>
    <a>Newest</a>-->
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="/js/modules/forums.js"></script>
{{/section}}



{{!--
    Main content
--}}

<header class="section-header">
    <h1 style="text-transform:capitalize">{{topicTitle}}</h1>
    <p>{{topicDescription}}</p>
</header>

<section class="section-content clear">

    <ul class="forum-list">

        {{#if threads.length}}
        {{#each threads}}
        <li class="thread-item">
            <a href="/thread/{{_id}}">
                <header>
                    <div class="gutter">
                        <img src="//placehold.it/54x54/#313042/#313042" style="border-radius:3px">
                    </div>
                    <div class="content">
                        <h2>{{title}}</h2>
                        <p>
                            <span>Created by </span>
                            <strong>
                                {{#if author.mainCharacter.name}}
                                    {{author.mainCharacter.name}}
                                {{else}}
                                    {{author.battletag}}
                                {{/if}}
                            </strong>
                            <span> on </span>
                            <strong>{{created}}</strong>
                            <span>.</span>
                        </p>
                    </div>
                </header>
                <footer>
                    <div class="forum-list-counter">
                        <strong>{{views}}</strong>
                        <small>Views</small>
                    </div>
                    <div class="forum-list-counter">
                        <strong>{{replies}}</strong>
                        <small>Replies</small>
                    </div>
                </footer>
            </a>
        </li>
        {{/each}}
        {{else}}
        <li class="empty-list-item">
            <p><em>This topic has no threads :(</em></p>
        </li>
        {{/if}}

    </ul>

    {{#if user}}
        <br>
        <br>
        <hr>
        <br>
        <br>

        <div class="post-editor">
            <form action="/threads/create/{{topic}}" method="post">
                <h2>Create New Thread</h2>

                <h3>Posting as {{#if user.mainCharacter.name}}{{user.mainCharacter.name}}{{else}}{{user.battletag}}{{/if}}</h3>
                <p class="legend"><var>MD</var> <a href="" target="_blank">Format your posts using Markdown</a>.</p>

                <input id="title" type="text" class="text text-large" name="title">
                <textarea class="text" name="content"></textarea>

                <button class="button button-primary button-large">Submit Post</button>
            </form>
        </div>
    {{/if}}

</section>