{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics" class="active">Forums</a>
    <a href="/gallery">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <a href="/topics">{{topicTitle}}</a> <i>&rsaquo;</i>
    <span>{{thread.title}}</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
    <!--<a class="active">1</a>
    <a>2</a>
    <a>3</a>
    <a>4</a>
    <a>Last</a>-->
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="/js/modules/forums.js"></script>
{{/section}}



{{!--
    Main content
--}}

<header class="section-header">
    <h1>{{thread.title}}</h1>
    <p class="subject">
        <span>Created by </span>
        <strong>{{username thread.author}}</strong>
        <span> on </span>
        <strong>{{formatDate thread.created 'MMMM Do, YYYY'}}</strong>
        <span> in </span>
        <strong>{{topicTitle}}</strong><span>.</span
    </p>
</header>

<section class="section-content clear">

    <ul class="thread-list">

        <!--<li>
            <header>
                <h4>
                    <strong>Lumberjack Lupanar</strong><br>
                    <small>
                        <em class="deathknight">Death Knight</em>
                        <span>&middot; Raider</span>
                        <span>&middot; 636</span>
                    </small>
                </h4>
                <span class="timestamp"><a href="">Nov 19, 20:53 <span>#1</span></a></span>
            </header>
            <section>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam dictum nec mi id pulvinar. Nunc vel dictum nisl.
                    Aliquam erat volutpat. Nam accumsan leo ut urna sollicitudin pellentesque.
                    Aliquam semper metus quis urna aliquam, nec volutpat nibh posuere.
                </p>
                <p>
                    <em class="deleted">Deleted.</em>
                </p>
                <p class="edited">
                    Edited by Lupanar on Nov 19.
                </p>
            </section>
            <footer>
                <a href="">Reply</a>
                <a href="">Quote</a>
                <a href="">Edit</a>
                <a href="">Remove</a>
            </footer>
        </li>-->

        {{#each posts}}
        <li>
            <header>
                <h4>
                    <div class="avatar-container">
                        <div class="avatar">
                            <img src="//us.battle.net/static-render/us/{{author.characters.[0].thumbnail}}">
                        </div>
                        <hgroup>
                            <strong>{{username author}}</strong><br>
                            <small>
                                <em class="{{classSelector author.characters.[0].class}}">{{className author.characters.[0].class}}</em>
                            </small>
                        </hgroup>
                    </div>
                </h4>
                <span class="timestamp">
                    <a href="/post/{{_id}}" name="{{_id}}">
                        {{formatDate created 'MMM Do, hh:mm, YY'}}
                        <span>#{{plusOne @index}}</span>
                    </a>
                </span>
            </header>
            <section>
                {{{markdown content}}}
            </section>
            {{#if user}}
            <footer>
                <a href="/thread/{{../thread._id}}/#reply">Reply</a>
                <!--<a href="">Quote</a>
                <a href="">Edit</a>
                <a href="">Remove</a>-->
            </footer>
            {{/if}}
        </li>
        {{/each}}

    </ul>

    {{#if user}}
    <br>
    <br>

    <div class="post-editor">
        <form action="/thread/reply/{{thread._id}}" method="post">
            <a name="reply"></a>
            <h2>Reply</h2>

            <div class="avatar-container">
                <div class="avatar">
                    <img src="//us.battle.net/static-render/us/{{user.characters.[0].thumbnail}}">
                </div>
                <hgroup>
                    <h3>Posting as {{username user}}</h3>
                    <p class="legend"><var>MD</var> <a href="" target="_blank">Format your posts using Markdown</a>.</p>
                </hgroup>
            </div>

            <textarea class="text" name="content"></textarea>

            <button class="button button-primary button-large">Submit Post</button>
        </form>
    </div>
    {{/if}}

</section>