{{!--
    Main nav
--}}

{{#section 'nav'}}
    <a href="/topics" class="active">Forums</a>
    <a href="/gallery">Gallery</a>
    <a href="/roster">Roster</a>
    <i></i>
    {{#if user}}
        <a href="/account" class="nav-button">{{user.battletag}}</a>
        <a href="/logout">Sign out</a>
    {{else}}
        <a href="/auth/bnet" class="nav-button">Sign in</a>
    {{/if}}
{{/section}}



{{!--
    Breadcrumb and breadcrumb nav
--}}

{{#section 'breadcrumb'}}
    <a href="/topics">Topics</a> <i>&rsaquo;</i>
    <span>{{topicTitle}}</span>
{{/section}}

{{#section 'breadcrumb_nav'}}
    <!-- <a class="active">Replies</a>
    <a>Views</a>
    <a>Newest</a>-->
{{/section}}



{{!--
    Scripts
--}}

{{#section 'scripts'}}
    <script src="/public/js/modules/forums.js"></script>
{{/section}}



{{!--
    Main content
--}}

<header class="section-header">
    <h1 style="text-transform:capitalize">{{topicTitle}}</h1>
    <p>{{topicDescription}}</p>
</header>

<section class="section-content clear">

    <ul class="forum-list">

        {{#if threads.length}}
        {{#each threads}}
        <li class="thread-item" {{#if read}}style="opacity:.5"{{/if}}>
            <a href="/thread/{{_id}}">
                <header>
                    <!--<div class="gutter">-->
                        <!--<img src="//placehold.it/54x54/313042/313042" style="border-radius:3px">-->
                    <!--</div>-->
                    <div class="content" style="margin-left: 0">
                        <h2>
                            {{#stickyOrLocked this}}
                                {{#if sticky}}
                                <img src="/public/img/thread-sticky.svg" style="width:26px;height:26px;border-radius:3px;vertical-align: bottom">
                                {{/if}}
                                {{#if locked}}
                                <img src="/public/img/thread-locked.svg" style="width:26px;height:26px;border-radius:3px;vertical-align: bottom">
                                {{/if}}
                            {{else}}
                                <img src="/public/img/thread.svg" style="width:26px;height:26px;border-radius:3px;vertical-align: bottom">
                            {{/stickyOrLocked}}

                            &nbsp;{{title}}
                        </h2>
                        <p style="white-space:nowrap">
                            <span>Created by </span>
                            <strong>{{username author}}</strong>
                            <span>{{timeSince created}}.</span>
                        </p>
                    </div>
                </header>
                <footer>
                    <div class="forum-list-counter">
                        <strong>{{views}}</strong>
                        <small>Views</small>
                    </div>
                    <div class="forum-list-counter">
                        <strong>{{replies}}</strong>
                        <small>Replies</small>
                    </div>
                </footer>
            </a>
        </li>
        {{/each}}
        {{else}}
        <li class="empty-list-item">
            <p><em>This topic has no threads :(</em></p>
        </li>
        {{/if}}

    </ul>

    {{#if user}}
    {{#canCreateThread topic user}}
        <br>
        <br>
        <hr>
        <br>
        <br>

        <div class="post-editor">
            <form action="/thread/create/{{topic}}" method="post">
                <h2>Create New Thread</h2>

                <div class="avatar-container">
                    <div style="margin-top:15px" class="avatar">
                        <img src="//us.battle.net/static-render/us/{{user.characters.[0].thumbnail}}">
                    </div>
                    <hgroup>
                        <h3>Posting as {{username user}}</h3>
                        <p style="padding-bottom:0" class="legend"><var>MD</var> <a href="//github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Format your posts using Markdown</a>.</p>
                        <p class="legend">
                            <span class="button button-quick x-insert" data-str="# $1 #">H1</span>
                            <span class="button button-quick x-insert" data-str="## $1 ##">H2</span>
                            <span class="button button-quick x-insert" data-str="### $1 ###">H2</span>
                            <span class="button button-quick x-insert" data-str="1. $1">1.</span>
                            <span class="button button-quick x-insert" data-str="* $1">o.</span>
                            <span class="button button-quick x-insert" data-str="**$1**">Bold</span>
                            <span class="button button-quick x-insert" data-str="_$1_">Italic</span>
                            <span class="button button-quick x-insert" data-str="[$1]($1)">Link</span>
                            <span class="button button-quick x-insert" data-str="[$1][image]">Image</span>
                            <span class="button button-quick x-insert" data-str="[$1][video]">YouTube</span>
                        </p>
                    </hgroup>
                </div>

                <input id="title" type="text" class="text text-large" name="title">
                <textarea class="text" name="content"></textarea>

                {{#canModerateGlobal user}}
                <div>
                    <div class="input-group input-group-thin" style="float: left;">
                        <input value="1" id="threadSticky" name="sticky" type="checkbox" class="checkbox">
                        <label for="threadSticky" class="checkbox">Sticky</label>
                    </div>
                    <div class="input-group input-group-thin" style="float: left; margin-left: 34px">
                        <input value="1" id="threadLocked" name="locked" type="checkbox" class="checkbox">
                        <label for="threadLocked" class="checkbox">Locked</label>
                    </div>
                </div>
                <br><br>
                {{/canModerateGlobal}}

                <button class="button button-primary button-large">Submit Post</button>
            </form>
        </div>
    {{/canCreateThread}}
    {{/if}}

</section>