<!DOCTYPE html>
<html>
<head>
    <title>AXION &mdash; Darkspear &middot; Alliance</title>

    <meta charset="utf-8">
    <meta name="description" content="The homepage of Axion - Darkspear, World of Warcraft Alliance Guild. News, forums, gallery, roster and more.">

    <base href="/">

    <link rel="shortcut icon" href="public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="public/css/app.css">
    {{!--<link rel="stylesheet" type="text/css" href="public/css/app.min.css">--}}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>

    <style>
        .page-header-nav a:nth-child(2) {
            display: none;
        }
    </style>
</head>
<body>
    <div class="page">

        <header class="page-header page-section">
            <div class="page-section-content">
                <h1><a href="/">AXION</a></h1>
                <nav class="page-header-nav">
                    {{{_sections.nav}}}
                </nav>
            </div>
        </header>

        <nav class="page-breadcrumb page-section">
            <div class="page-section-content">
                <h2>
                    {{{_sections.breadcrumb}}}
                </h2>
                <nav class="page-breadcrumb-nav">
                    {{{_sections.breadcrumb_nav}}}
                </nav>
            </div>
        </nav>

        <div class="page-content page-section">
            <div class="page-section-content">
                {{{body}}}
            </div>
        </div>

        <footer class="page-footer page-section">
            <div class="page-section-content">
                <h3>AXION &mdash; Darkspear &middot; Alliance</h3>
                <h4>powered by <a href="http://www.guild-boards.com" target="_blank">WoW Guild Boards</a> ver. 0.1</h4>
            </div>
        </footer>

    </div>


    {{!-- Dependencies --}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>


    {{!-- Local js files --}}

    <script src="public/js/app.js"></script>
    {{{_sections.scripts}}}
</body>
</html>