<!DOCTYPE html>
<html>
<head>
    <title>{{guild.name}} &mdash; {{guild.realm}} &middot; Alliance</title>

    <meta charset="utf-8">
    <meta name="description" content="The homepage of {{guild.name}} - {{guild.realm}}, World of Warcraft Alliance Guild. News, forums, gallery, roster and more.">

    <base href="/">

    <script type="text/javascript" src="//static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": false, "renamelinks": true }</script>

    <link rel="shortcut icon" href="public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="public/css/app.css">
    {{!--<link rel="stylesheet" type="text/css" href="public/css/app.min.css">--}}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="page">

    <header class="page-header page-section">
        <div class="page-section-content">
            <h1><a href="/">{{guild.name}}</a></h1>
            <nav class="page-header-nav">
                {{{_sections.nav}}}
            </nav>
        </div>
    </header>

    <nav class="page-breadcrumb page-section">
        <div class="page-section-content">
            <h2>
                {{{_sections.breadcrumb}}}
            </h2>
            <nav class="page-breadcrumb-nav">
                {{{_sections.breadcrumb_nav}}}
            </nav>
        </div>
    </nav>

    <div class="page-content page-section">
        <div class="page-section-content">
            {{{body}}}
        </div>
    </div>

    <footer class="page-footer page-section">
        <div class="page-section-content">
            <h3>Casual Incarnate &mdash; Darkspear &middot; Alliance</h3>
            <h4>powered by <a href="http://www.guild-boards.com" target="_blank">WoW Guild Boards</a> ver. alpha 0.2.1</h4>
        </div>
    </footer>

</div>


{{!-- Dependencies --}}

<script src="//cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>


{{!-- Local js files --}}

<script src="public/js/app.js"></script>
<script>
    var firebase = new Firebase("https://wow-guild-boards.firebaseio.com");
    var AUTH_TOKEN = '{{user.token}}';
</script>
{{{_sections.scripts}}}
</body>
</html>